body {
  background-color: rgb(240 240 240);
  font-family: "Proza Libre", sans-serif;
}

label,
button,
#new-entry {
  font-family: "Proza Libre", sans-serif;
  font-weight: 900;
}

label {
  font-size: 18px;
}

h2 {
  font-family: "Proza Libre", sans-serif;
}

input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
}

input {
  border-color: rgb(236, 231, 231);
  border-style: solid;
}

img {
  width: 100%;
}

header {
  font-family: "Proza Libre", sans-serif;
  font-size: 18px;
  background-color: #562b81;
  color: white;
  padding: 10px 0;
}

textarea {
  resize: none;
  border-width: 2px;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(150 66 233);
  box-shadow: 0 0 1px 1px rgb(150 66 233 / 60%);
}

button,
#new-entry {
  background-color: #562b81;
  color: white;
  border-radius: 5px;
  width: 70px;
  padding: 5px;
  font-size: 14px;
}

button:hover {
  background-color: rgb(166, 108, 224);
  cursor: pointer;
}

button:focus {
  outline: none;
}

.entry-form-actions {
  text-align: right;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.entries {
  color: white;
}

.new-20 {
  margin-top: 20px;
}

.new-entries {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  display: inline;
  font-size: 20px;
  padding: 0 10px;
}

a {
  color: white;
  text-decoration: none;
}

.space-between {
  justify-content: space-between;
}
